.c ,.b {
    border: 4px solid black;
    display: flex;
}
.c1, .b1{
    border: 4px solid rgb(210, 27, 27);
    padding:20px;
}
.c2 ,.b2{
    border: 4px solid rgb(49, 189, 21);
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding:20px;
}
.about{
    border: 4px solid rgb(183, 18, 117);
    width: 100%;
    padding:20px;
}
.images div{
    border: 1px solid rgb(210, 27, 27);
    padding:20px 40px;
}
.a , .ci{
    border: 2px solid rgb(145, 183, 18);
    padding:40px;
}



